{% extends "layout.html" %}
{% block title %} Erro {{ error_id }} | Vance{% endblock %}
{% block content %}

<div class="jumbotron" style="background-color:#ffffff4f;">
    <div >
        <div class="row">
            <div class="col-xl-12 text-center">
                <img src="{{img}}" style="width: 30%;" />

                <h3 class="pt-5" style="color: #373738">{{ error_desc }}</h3>
                <p style="color: #C4C4C4">Se o erro persistir, entre em contato com um administrador.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}