{% extends "layout.html" %}
{% block title %}Editar | Vance{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card edit -->
                <div class="card rounded shadow shadow-sm">
                    <div class="card-header">
                        <h3 class="mb-0">Editar nota</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.title.label }}<br>
                                {{ form.title(size=64, value=note.title, class="form-control") }}
                            </p>
                            <p>
                                {{ form.content.label }}<br>
                                {{ form.content(class="form-control", rows="3") }}
                            </p>


                    </div>
                    <div class="modal-footer">
                        {{form.submit(class="btn btn-info")}}

                    </div>




                    </form>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->

            </div>


        </div>
        <!--/row-->

    </div>
    <!--/col-->
</div>
<!--/row-->


{% endblock %}