{% extends "layout.html" %}
{% block title %}Editar | Vance{% endblock %}
{% block content %}


<!-- Modal Cadastro-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Realmente deseja excluir?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <a href="{{ url_for( 'note_delete', id=note.id) }}" class="btn btn-danger">Excluir</a>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card edit -->
                <div class="card rounded shadow shadow-sm">
                    <div class="card-header">
                        <h3 class="mb-0">Editar nota</h3>

                        <div>
                            <a data-toggle="modal" data-target="#deleteModal" class="badge badge-danger">Excluir</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.title.label }}<br>
                                {{ form.title(size=64, value=note.title, class="form-control") }}
                            </p>
                            <p>
                                {{ form.content.label }}<br>
                                {{ form.content(class="form-control", rows="3") }}
                            </p>
                    </div>
                    <div class="modal-footer">
                        {{form.submit(class="btn btn-info")}}
                    </div>
                    </form>
                    <!--/card-block-->
                </div>
                <!-- /form card login -->
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
</div>
<!--/row-->


{% endblock %}