{% extends "layout.html" %}
{% block title %}Perfil | Vance{% endblock %}
{% block content %}


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Realmente deseja excluir?</h5>
               
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p> Todos seus dados serão excluidos</p>
            </div>

            <div class="modal-footer">
             
                <a href="{{ url_for( 'perfil_delete', id=user.id, token=token) }}" class="btn btn-danger">Excluir</a>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card login -->
                <div class="card rounded shadow shadow-sm">

                    <div class="card-body d-flex align-items-center">
                        <div class=" w-100">
                            <h4 class="p-2 mb-0 mt-0">{{user.name}}</h4>
                            <div class="p-2 mt-2 bg-light d-flex justify-content-between rounded text-dark stats">
                                <div class="d-flex flex-column">
                                    <span class="articles">Email:</span>
                                    <span class="number1">{{user.email}}</span>
                                <br>
                                    <span class="followers">Notas escritas:</span>
                                    <span class="number2">{{user.notes.count()}}</span>
                                </div>
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center">
                                <a href="{{ url_for( 'perfil_edit') }}" class="btn btn-sm btn-outline-info w-100">Editar</a>
                                <a  data-toggle="modal" data-target="#deleteModal"  class="btn btn-sm btn-danger w-100 ml-2">Excluir</a>

                            </div>
                        </div>
                    </div>

                    <!--/card-block-->
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
</div>

{% endblock %}