{% extends "layout.html" %}
{% block title %}Perfil | Vance{% endblock %}
{% block content %}




<div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- form card login -->
                <div class="card rounded shadow shadow-sm">

                    <div class="card-body d-flex align-items-center">
                        <div class=" w-100">
                            <h4 class="p-2 mb-0 mt-0">{{user.name}}</h4>
                            <div class="p-2 mt-2 bg-light d-flex justify-content-between rounded text-dark stats">
                                <div class="d-flex flex-column">
                                    <span class="articles">Email:</span>
                                    <span class="number1">{{user.email}}</span>
                                <br>
                                    <span class="followers">Notas escritas:</span>
                                    <span class="number2">{{user.notes.count()}}</span>
                                </div>
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center">
                                <a href="{{ url_for( 'perfil_edit') }}" class="btn btn-sm btn-outline-info w-100">Editar</a>
                                <a  class="btn btn-sm btn-danger w-100 ml-2">Excluir</a>
                            </div>
                        </div>
                    </div>

                    <!--/card-block-->
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
</div>

{% endblock %}